<h1>ichiについて</h1>
<h3>「一期一会」</h3>
<h4>～once-in-a-lifetime encounter～</h4>
<p>お客様にとっての、“No.1”、“Only1”になりたいという想いから、「ichi」と名付けました。</br>
出会いを大切に想い、今できる最高のおもてなしをお客様にご提供いたします。</br>
心、身体の疲れを癒し、慌ただしい日常とは違う空間で、心からリラックスしていただけるよう、</br>
お客様のニーズ、コンディションに合わせ、あなただけのオリジナルメニューをご提案いたします。</br>

お客様の本来の美しさを引き出し、お客様一人一人の魅力を最大限に引き出します。</br>
ご自身へのご褒美に、ゆったりとした時間をプライベートサロン「ichi」でお過ごしいただけたら嬉しいです。</p><br>
<h1>セラピスト紹介</h1>


